@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap';
@import './normalize.css';

body {
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
  color: white;
  font-weight: 300;
}
#root {
  width: 100%;
  height: 100%;
}
.header-section {
  padding: 15px 10% 10px;
  width: 100%;
  font-size: 30px;
  color: #dc3545;
  text-align: left;
  position: relative;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(33, 33, 66);
}

.navigation-item {
  text-decoration: none;
  color: #dc3545;
  margin-right: 20px;
}
.form-input {
  height: 60px;
  width: 550px;
  margin-bottom: 20px;
}
.page-wrapper {
  background-color: rgb(58, 62, 105);
  width: 100%;
  height: 100vh;
}
.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./background.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}
.section-wrapper::before {
  content: '';
  background-color: rgba(33, 33, 66, 0.9);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.emoji-icon {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}
.emoji-name {
  font-size: 35px;
}
.emoji-container {
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
.emoji-row {
  border-bottom: 1px solid gray;
  padding: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 500px;
}
.select-form {
  margin-bottom: 20px;
}
.select-label {
  font-size: 20px;
}
.select-input {
  margin-left: 15px;
  width: 120px;
}
