.search-section {
  padding: 20px 10%;
  width: 100%;
  position: relative;
  height: 150px;
}
.search-section-row {
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  width: 100%;
}
.search-button {
  margin: 0 10px;
  justify-self: center;
  display: block;
  width: 100px;
  height: 40px;
}
