.movies-counter {
  width: fit-content;
  text-align: left;
  color: #dc3545;
}
.movies-counter-quantity {
  margin-right: 10px;
}
@media (max-width: 700px) {
  .movies-counter {
    margin-bottom: 10px;
    text-align: left;
  }
}
