.movie-detailed-wrapper {
  background-color: rgb(58, 62, 105);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-detailed-wrapper * {
  text-align: left;
}
.movie-detailed-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  border: 2px solid #dc3545;
  background-color: rgba(33, 33, 66);
  box-sizing: border-box;
}
.movie-detailed-column:first-child {
  width: 300px;
  margin-right: 10px;
}
.movie-detailed-column:last-child {
  padding: 10px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 10;
  flex-basis: 300px;
  flex-shrink: 0;
}
.movie-poster {
  height: 450px;
  flex-grow: 1;
  flex-basis: 300px;
  flex-shrink: 0;
}
.movie-detailed-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}
.movie-title {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  width: 85%;
}
.movie-overview {
  font-size: 15px;
  color: white;
  margin-bottom: 23px;
}
.movie-vote {
  font-size: 22px;
  width: 90px;
  text-align: left;
}
.movie-vote-star {
  color: #dc3545;
}
.movie-detailed-about {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.movie-genres-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  justify-content: left;
}
.movie-genre {
  padding: 10px;
  background-color: #dc3545;
  margin: 0 10px 10px;
  border-radius: 15px;
  font-size: 15px;
}
.movie-detailed-title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}
@media (max-width: 750px) {
  .movie-poster {
    height: 525px;
    width: 350px;
  }
  .movie-detailed-card {
    width: 354px;
  }
  .movie-detailed-main {
    flex-direction: column;
  }
  .movie-vote {
    margin-bottom: 10px;
  }
  .movie-title,
  .movie-overview,
  .genres-wrapper {
    width: 350px;
  }
  .movie-detailed-column:last-child {
    flex-basis: 200px;
  }
}

@media (max-width: 500px) {
  .movie-poster {
    height: 375px;
    width: 250px;
  }
  .movie-detailed-card {
    width: 254px;
  }

  .movie-title,
  .movie-overview,
  .genres-wrapper {
    width: 230px;
  }
  .movie-detailed-title,
  .movie-title {
    font-size: 22px;
  }
}
